<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Хакатон</title>
	<link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu:400,700" rel="stylesheet">
</head>
<body>
	<header>
	    <div class="container">
			<div class="heading clearfix">
				<img src="img/logotip.png" alt="fantastic" class="logo">
	            <div class="vhod">
                    <ul class="menu">
                        <li>
                        <a href="#">Вход</a>
                        </li>
                        <li>
                        <a href="#">Регистрация</a>
                        </li>
                    </ul>
                </div>    
	    </div>
	</header>
	<div class="black clearfix">
        <section>
        <form name="test" method="post" action="input1.php">
            <p><b>Укажите ваш город</b><br>
            <input type="text" size="40">
            </p>

            <p><input type="submit" value="Отправить">
   
         </form>
	    </section>
	 </div>
	<footer>
	    
	</footer>
    
</body>
</html>
